{% extends 'templates/app.twig' %}

{% block content %}



	<div class="row">

		<div class="col-md-6 col-md-offset-3">

			{% if errors %}
				<div class="alert alert-danger" role="alert">
					<p class="lead">There were some errors during the registration.</p>
					<p><strong>Please fix it.</strong></p>
					<hr />
					<ul class="list-unstyled">
						{% for index, error in errors %}
							<li>{{index | capitalize}}</li>
							<ul>
								{% for e in error %}
									<li>{{e}}</li>
								{% endfor %}
							</ul>
						{% endfor %}
					</ul>
				</div>
			{% endif %}

			<div class="panel panel-default">

				<div class="panel-heading">Sign In</div>

				<div class="panel-body">
					<form autocomplete="false" action="{{ path_for('auth.signin') }}" method="post">
						
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" name="email" id="email" value="{{old.email}}" placeholder="you@domain.com" class="form-control" />
						</div>

						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" class="form-control" />
						</div>

						<button type="submit" class="btn btn-default">Sign In</button>

						{{ csrf.field | raw }}

					</form>
				</div>

			</div>

		</div>

	</div>

{% endblock %}