<template id="comment-list">

	<div v-if="loading">
		<div class="alert alert-success" role="alert">
		  Please wait, i'm retrieving the fucking comments from the database.
		</div>
	</div>
	<div v-else>

	
		<p v-if="brick.comments.length == 0" class="lead">No comment yet! Let's start the game!</p>

		<div v-else>
			<comment-single v-for="comment in brick.comments" :comment="comment"></comment-single>
		</div>

	</div>

</template>
	
<script type="text/javascript">

	Vue.component('comment-list', {
		template: '#comment-list',
		props: ['id'],
		data: function() {
			return {
				loading: true,
				brick: false
			}
		},
		methods: {
			fetch: function() {
				this.loading = true;
				this.$http.get(urlJson).then(function(data) {
					this.loading = false;
					this.brick = data.data;
					$('#commentscount').html(this.brick.comments.length);
				});
			}
		},
		ready: function() {
			this.fetch();
		},
		events: {
			refreshComments: function() {
				this.fetch();
			}
		}
	})

</script>