<template id="comment-single">

	<div class="media">
		<div class="media-left">
			<a href="">
				<img class="media-object" src="//placehold.it/40x40">
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading">
				<a href="">${ comment.user.name }</a>
				<small>${ comment.created_at }</small>
			</h4>
			<p>${ comment.body }</p>
			
			<div style="margin-top: 1em" v-if="comment.user_id == $root.user.id">
				<a class="small" @click.prevent="remove()" href="javascript:;">Remove Comment</a>
			</div>

		</div>
	</div>

</template>
	
	<script type="text/javascript">

	Vue.component('comment-single', {
		template: '#comment-single',
		props: ['comment'],
		data: function() {
			return {

			}
		},
		ready: function() {
			//alert(this.$)
		},
		methods: {
			remove: function() {
				this.$http.get('/bricks/remove-comment/' + this.comment.id).then(function() {
					this.$root.$broadcast('refreshComments');
				})
			}
		}
	})

	</script>