<template id="comment-new">

	<div style="margin-top: 3em">
		<form method="post" class="form" @submit.prevent="post()">

			<h5>Add a Comment</h5>

			<div class="form-group">
				<textarea name="body" v-model="newComment.body" class="form-control" rows="5" placeholder="Write down your comment!"></textarea>
			</div>

			<button type="submit" class="btn btn-default" :disabled="wait || newComment.body.length == 0">${ message }</button>

			{{ csrf.field | raw }}
			
		</form>
	</div>

</template>
	
	<script type="text/javascript">

	Vue.component('comment-new', {
		template: '#comment-new',
		data: function() {
			return {
				wait: false,
				message: 'Post!',
				newComment: {
					body: '',
					csrf_name: '',
					csrf_value: '',
				}
			}
		},
		ready: function() {
			this.newComment.csrf_name = $('[name=csrf_name]').val();
			this.newComment.csrf_value = $('[name=csrf_value]').val();
		},
		methods: {
			post: function() {

				this.wait = true;
				this.message = 'Wait..';

				this.$http.post(commentUrl, this.newComment).then(function(data) {
					this.newComment.csrf_name = data.data.csrf.name;
					this.newComment.csrf_value = data.data.csrf.value;

					if(data.data.status == 'KO')
						this.message = 'Please, fix the errors!';
					else {
						this.newComment.body = '';
						this.message = 'Post, oh yes, again!';
						this.$root.$broadcast('refreshComments');
					}

					this.wait = false;


				});

				
			}
		}
	})

	</script>