<template id="brick-single">
	<pre>${brick | json}</pre>
</template>

<script type="text/javascript">

	Vue.component('brick', {
		template: '#brick-single',
		props: ['brickid'],
		data: function() {
			return {
				brick: false
			}
		},
		ready: function() {

			this.$http.get('/api/brick/' + this.brickid + '.json').then(function(data) {
				this.brick = data.data;
			})

		}
	});

</script>