<template id="brick-star">

	<span v-if="brick">

		<button class="btn" v-bind:class="{'btn-default': !brick.starred, 'btn-success': brick.starred}" :disabled="disabled" @click.prevent="star()">
			Stars <strong>${brick.stars.length}</strong> | 
			<span v-if="brick.starred">Remove</span>
			<span v-else>Add</span>
		</button>

	</span>

</template>

<script type="text/javascript">

	Vue.component('brick-star', {
		template: '#brick-star',
		props: ['brickid'],
		data: function() {
			return {
				disabled: true,
				brick: false
			}
		},
		methods: {
			fetch: function() {
				this.$http.get('/api/brick/' + this.brickid + '.json').then(function(data) {
					this.disabled = false;
					this.brick = data.data;
				})	
			},
			star: function() {
				this.disabled = true;
				this.$http.get(starUrl).then(function() {
					this.fetch();
				})
			}
		},
		ready: function() {

			this.fetch();

		}
	});

</script>