{% extends 'templates/app.twig' %}

{% block content %}
	{% set compact = 1 %}
	
	<div class="row">
		<div class="col-md-6">
			<h4>Latest Bricks</h4>
			<hr />

			{% include 'bricks/partials/table.twig' %}

			<a href="{{ path_for('bricks.new') }}" class="btn btn-success">Add new brick</a>

		</div>

		<div class="col-md-6">
			<h4>Latest Comments</h4>
			<hr />


		</div>
	</div>

{% endblock %}