<div style="margin-top: 3em">
	<form method="post" class="form" action="{{ path_for('bricks.comment', { "id": brick.id }) }}">

		<h5>Add a Comment</h5>

		<div class="form-group">
			<textarea name="body" class="form-control" rows="5" placeholder="Write down your comment!"></textarea>
		</div>

		<button type="submit" class="btn btn-default">Post!</button>

		{{ csrf.field | raw }}
		
	</form>
</div>