<div class="media">
	<div class="media-left">
		<a href="{{ path_for('user.profile', { "email": comment.user.email }) }}">
			<img class="media-object" src="//placehold.it/40x40">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">
			<a href="{{ path_for('user.profile', { "email": comment.user.email }) }}">{{ comment.user.name }}</a>
			<small>{{ comment.created_at }}</small>
		</h4>
		<p>{{ comment.body }}</p>
		
		{% if comment.user_id == auth.user.id %}
			<div style="margin-top: 1em">
				<a class="small" href="{{ path_for('bricks.comment.remove', { "id": comment.id }) }}">Remove Comment</a>
			</div>
		{% endif %}
	</div>
</div>