<div class="panel panel-default">

	<div class="panel-body">

		<div class="row">
			<div class="col-md-6">
				<h4>
					<a href="{{ path_for('bricks.single', { "id": brick.id }) }}">{{ brick.title }}</a>
				</h4>
				<p>
					{{ brick.description }}
				</p>
				<div class="" style="margin-bottom: 1em">
					{% for tag in brick.tags %}
						<span class="label label-info">{{ tag.tag.name }}</span>
					{% endfor %}
				</div>
				<p>
					<small><a href="{{ path_for('user.profile', { "email": brick.user.email }) }}">{{ brick.user.name }}</a></small>
				</p>
				
			</div>
			<div class="col-md-6 text-right">
				{{ brick.created_at }}
				<div>
				<br />
				<strong>Star</strong> ({{ brick.stars.count }})<br />
				<strong>Comments</strong> ({{ brick.comments.count }})<br />
				</div>

			</div>
		</div>

	</div>

</div>