{% if bricks.count > 0 %}
	<table class="table">
		<thead>
			<tr>
				<th>Category</th>
				<th>Title</th>
				{% if compact == false %}<th>Description</th>{% endif %}
				<th>Date</th>
				{% if compact == false %}<th></th>{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for brick in bricks %}
			<tr>
				<td width="20%">
					<a href="{{ path_for('categories.single', { "slug": brick.category.slug }) }}">{{ brick.category.name }}</a>
				</td>
				<td width="25%">
					{% if brick.private == 1 %}
						<span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
					{% endif %}
					<a href="{{ path_for('bricks.single', { "id": brick.id })}}">{{ brick.title }}</a>
				</td>
				{% if compact == false %}<td width="35%">{{ brick.description }}</td>{% endif %}
				<td width="15%">{{ brick.updated_at | date('d/m/Y H:i:s') }}</td>
				{% if compact == false %}<td width="5%">{{ brick.stars.count }} / <small>{{ brick.comments.count }}</small></td>{% endif %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p class="lead">
		No brick in this wall.	
	</p>
{% endif %}