{% extends 'templates/app.twig' %}

{% block content %}
	
	<div class="media">
		<div class="media-left">
			<h4><img class="pull-left" src="//placehold.it/50x50" /></h4>
		</div>
		<div class="media-body">
			<h4>{{ user.name }} <small>{{user.email}}</small></h4>
			<code>{{ user.email | user_hash }}</code>
		</div>
	</div>
	<hr />
	
	{% include 'bricks/partials/table.twig' %}

{% endblock %}