{% extends 'templates/app.twig' %}

{% block content %}

	<h4>New Brick</h4>
	<hr />

	{% if errors %}
		<div class="alert alert-danger" role="alert">
			<p class="lead">There are some errors during the creation of the brick.</p>
			<p><strong>Please fix it.</strong></p>
			<hr />
			<ul class="list-unstyled">
				{% for index, error in errors %}
					<li>{{index | capitalize}}</li>
					<ul>
						{% for e in error %}
							<li>{{e}}</li>
						{% endfor %}
					</ul>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	<form method="post" class="form">

		<div class="form-group">
			<label>Category</label>
			<select class="form-control" name="category_id">
				<option value="0">> Pick a Category</option>
				{% for category in categories %}
					<option value="{{category.id}}" {% if old.category_id == category.id %}selected{% endif %} >{{ category.name }}</option>
				{% endfor %}
			</select>
		</div>

		<div class="form-group">
			<label>Title *</label>
			<input type="text" name="title" value="{{ old.title }}" class="form-control" placeholder="Title of the brick" />
		</div>

		<div class="form-group">
			<label>Description</label>
			<textarea name="description" class="form-control" placeholder="Short description of this brick">{{old.description}}</textarea>
		</div>

		<div class="form-group">
			<label>Tags</label>
			<small>Separate by comma :)</small>
			<input type="text" name="tags" value="{{old.tags}}" class="form-control" placeholder="Insert the tags for this brick." />
		</div>

		<div class="form-group">
			<label><input type="checkbox" name="private" value="1" /> Is Private <small>(if checked only you can see this brick. You can bet)</small></label>
		</div>

		<div class="form-group">
			<label>Body *</label>
			<textarea rows="10" name="body" class="form-control form-xl" placeholder="Write in markdown, thanks">{{old.body}}</textarea>
		</div>

		<button type="submit" class="btn btn-default">Create.</button>

		{{ csrf.field | raw }}

	</form>	

{% endblock %}