{% extends 'templates/app.twig' %}

{% block content %}
	
	<script type="text/javascript">
		var starUrl = '{{ path_for('bricks.star', { "id": brick.id }) }}';
		var commentUrl = '{{ path_for('bricks.comment.api', { "id": brick.id }) }}';
		var urlJson = '{{ path_for('bricks.single.api', { "id": brick.id }) }}';
	</script>

	<h3>{{ brick.title }}</h3>
	<div class="row">
		<div class="col-md-8">

			<p>{{ brick.description }}</p>
			<hr />
			{% if auth.user %}
			<strong>Category</strong> 
			<a href="{{ path_for('categories.single', { "slug": brick.category.slug }) }}">{{brick.category.name}}</a>, 
			{% endif %}
			<small>{{ brick.updated_at }}</small>

		</div>

		<div class="col-md-4 text-right">

			{% if auth.user %}

				<div style="margin-bottom: 1em">
					{% for tag in brick.tags %}
						<span class="label label-info">{{tag.tag.name}}</span>
					{% endfor %}
				</div>

				{% if brick.private == 0 %}

					<brick-star brickid="{{brick.id}}"></brick-star>

				{% endif %}
				
				<button class="btn btn-default"><strong>Comments:</strong> <span id="commentscount">{{brick.comments.count}}</span></button>

			{% else %}
				<p><a href="{{ path_for('auth.signin') }}">Please Login to interact with this Brick.</a></p>
			{% endif %}

		</div>
	</div>
	
	<hr />

	<div class="panel panel-default">

		<div class="panel-heading">
			{{ brick.title }}

			{% if hole == false %}
				<div class="pull-right">
					<a target="_blank" href="{{ path_for('bricks.raw', { "id": brick.id }) }}">Raw</a>
					{% if brick.private == false %}| <a href="{{ path_for('bricks.hole', { "hash": brick.hash }) }}">Public Url</a>{% endif %}
				</div>
			{% elseif auth.check %}
				<div class="pull-right">
					<a href="{{ path_for('bricks.single', { id: brick.id }) }}">Original Brick</a>
				</div>
			{% endif %}

		</div>

		<div class="panel-body">
			<p class="marked">{{ brick.body }}</p>
		</div>

	</div>

	{% if auth.user.id %}
	<div class="row">
		<div class="col-md-12">
			<hr />

			<h4>Comments <small>Hidden when comes from an Hole</small></h4>

			<comment-list id="{{brick.id}}"></comment-list>
			<comment-new></comment-new>

		</div>
	</div>

	{% endif %}
	

{% endblock %}

{% block javascript %}

	{% include 'bricks/vue/star.twig' %}
	{% include 'bricks/vue/comment-new.twig' %}
	{% include 'bricks/vue/comment-list.twig' %}
	{% include 'bricks/vue/comment-single.twig' %}

	<script type="text/javascript">
		$(function() {
			var content = $('.marked').html();
			$('.marked').html(marked(content));
		});
	</script>
	
{% endblock %}