{% extends 'templates/app.twig' %}

{% block content %}
	
	<div class="row">

		<div class="col-md-6">
			<h4>Categories</h4>
		</div>

		<div class="col-md-6 text-right">
			<a href="{{ path_for('categories.new') }}" class="btn btn-default pull-right">Add new category</a>
		</div>

	</div>
	<hr />
	<ul class="list-unstyled">
		{% for category in categories %}
			<li>
				<a href="{{ path_for('categories.single', {"slug": category.slug}) }}">
					{{ category.name }} ({{ category.freeBricks.count }})
				</a>
			</li>
		{% endfor %}
	</ul>
	
{% endblock %}