{% extends 'templates/app.twig' %}

{% block content %}

	<h4>Create new Category</h4>
	
	<hr />
	
	<form method="post" class="form" action="{{ path_for('categories.new') }}">

		{% if errors %}
			<div class="alert alert-danger" role="alert">
				<p class="lead">There are some errors during the creation of the category.</p>
				<p><strong>Please fix it.</strong></p>
				<hr />
				<ul class="list-unstyled">
					{% for index, error in errors %}
						<li>{{index | capitalize}}</li>
						<ul>
							{% for e in error %}
								<li>{{e}}</li>
							{% endfor %}
						</ul>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

		<div class="form-group">
			<label>Name</label>
			<input type="text" name="name" class="form-control" placeholder="Name of the Category" />
		</div>
		<div class="form-group">
			<label>Description</label>
			<textarea name="description" class="form-control" placeholder="Description of the cateogry"></textarea>
		</div>
		<div class="form-group">
			<label>Color</label>
			<input type="color" name="color" class="form-control" placeholder="Name of the Category" />
		</div>

		<button type="submit" class="btn btn-default">Create Category</button>

		{{ csrf.field | raw }}

	</form>

{% endblock %}