{% extends 'templates/app.twig' %}

{% block content %}

	<h3>{{ category.name }}</h3>
	<p>{{ category.description }}</p>
	
	{% if hasPrivate.count %}
		<div class="alert alert-info">
			<p>You got <strong>{{ hasPrivate.count }}</strong> private brick, in this category - <a href="{{ path_for('bricks.private') }}?category={{category.id}}">Have a look</a></p>
		</div>
	{% endif %}
	
	<hr />
	
	{% include 'bricks/partials/table.twig' %}
	
{% endblock %}