<!DOCTYPE html>
<html>
	<head>
		<title>CodeGround</title>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- Optional theme 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

		<link rel="stylesheet" type="text/css" href="{{ base_url() }}/assets/css/app.css">

	</head>
	<body>

		<div id="app">

			{% include 'templates/partials/navigation.twig'  %}

			<div class="container">

				{% include 'templates/partials/flash.twig'  %}

				{% block content %}{% endblock %}


				<!--<pre>${ user | json }</pre>-->

			</div>

		</div>


			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
			<!-- Latest compiled and minified JavaScript -->
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
			
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
			<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.9.3/vue-resource.js"></script>

			{% block javascript %}{% endblock %}

			<script type="text/javascript">

				Vue.config.delimiters = ['${', '}']

				new Vue({
					el: '#app',
					data: {
						user: {{ auth.user | json_encode | raw }}
					}
				});
				
			</script>

	</body>
</html>